<div class="container">
<hr>
  <div class="row">
    <%= render 'form' %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th>質問</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= question.question %></td>
              <td>
                <%= link_to "削除", question, class: 'btn btn-default', method: :delete, data: { confirm: "本当に削除してよいですか？" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
