<div class="container">
<hr>
  <div class="row">
    <div class="col-xs-12">
      <p class="result">「 <%= @result %> 」</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-default" href="./" role="button">戻る</a>
    </div>
  </div>
  <br/>
</div>
