<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="result">「 <%= @result %> 」</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to '戻る', :back  %> 
    </div>
  </div>
</div>
