<div class="container">
<hr>
  <div class="row">
    <%= render 'form' %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th width="200px">接続詞</th>
            <th width="100px">表示回数</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody>
          <% @conjunctions.each do |conjunction| %>
            <tr>
              <td><%= conjunction.content %></td>
              <td><%= conjunction.impressions %></td>
              <td>
                <%= link_to "削除", conjunction, class: 'btn btn-default', method: :delete, data: { confirm: "本当に削除してよいですか？" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
