<div class="container">
<hr>
  <div class="row">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th>テーマ</th>
          </tr>
        </thead>
        <tbody>
          <% @themes.each do |theme| %>
            <tr>
              <td><%= theme.theme %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>