<p id="notice"><%= notice %></p>

<h1>Votes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |q| %>
      <tr>
        <td>質問：<%= q.question %></td>
        <% votes = @votes.where(question_id: q.id) %>
        <td><% var = votes.group(:answer).count %></td>
        <td><%= pie_chart (var) %></td>
  <% end %>

<!--        <td><%#= link_to 'Show', vote %></td>-->
<!--        <td><%#= link_to 'Edit', edit_vote_path(vote) %></td>-->
<!--        <td><%#= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>



  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
